.companies-box div{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #242424;
    border-radius: 10px;
    padding: 0px 10px;
    transition: .8s;
}

.companies-box div:hover{
    background-color: #313131;
}

.companies-box div img{
    max-width: 80px;
    padding: 14px;
    
}

.companies-box{
    display: flex;
    overflow: scroll;
    max-width: 100vw;
}

.companies-div{
    text-align: center;
    text-transform: capitalize;
}

@media only screen and (max-width: 414px) {

    .companies-box{
        margin-top: 50px;
        margin-bottom: -30px;
    }
}
